<%- include ('../partials/top'); %>

<header><%- include ('../partials/navbarAdmin'); %></header>

    <main class="flex-container direction-column">

         
        <h1 class="text-center">Dashbord ADMINISTRADOR</h1>

      
      
    </main>


    <%- include ('../partials/footer'); %>

    <%- include ('../partials/down'); %>