<footer>
    <div class="clock" id="txt"></div>
    <div class="info">
        <div class="linha">
            <div class="tecla">ENTER</div> 
            <div class="infoTecla"> Adiciona item a venda </div>
        </div>
        <div class="linha">
            <div class="tecla">DELETE</div> 
            <div class="infoTecla"> Limpa itens da venda</div>
        </div>
        <div class="linha">
            <div class="tecla">END</div> 
            <div class="infoTecla"> Finaliza venda </div>
        </div>
    </div>

</footer>