<div class="caixa-box-logo">
    <div class="boxLogo">
        <div class="font-ArchitectsDaughter sim">Sim</div>
        <div class="font-Pacifico plus">Plus</div>
    </div>
    <div class="font-ArchitectsDaughter slogan">O Plus do Simples Nacional</div>
</div>



<nav class="">
    <ul class="">
        <li class="">
            <a class="font-ArchitectsDaughter" href="/index">Home</a>
        </li>
        <li class="">
            <a class="font-ArchitectsDaughter" href="/produto/novo">Novo Produtos</a>
        </li>
        <li class="">
            <a class="font-ArchitectsDaughter" href="/produto">Lista Produtos</a>
        </li>
    </ul>
</nav>


<div class="user">Usuário:  <%=usuario.nome%> </div>   


