<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Sistema Vendas TCC</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/bg-color.css">
    <link rel="stylesheet" href="/css/estilo-menu-principal.css">
    <link rel="stylesheet" href="/css/main.css" >
    <link rel="stylesheet" href="/css/tipografia.css">
    <link rel="stylesheet" href="/css/erro.css">
</head>
<body onload="startTime(), showModal()">
    


    