<%- include ('partials/top'); %>
    <main>
    <div class="text-center">
        <div class="">
            <div class="">
                <h5 class="margin-top-10px">Ocorreu um problema</h5>
                <hr>
                <h3 class="color-error"><%=msg%></h3>
                <a class="btn-link" href="/">Página principal</a>
            </div>
        </div>
    </div>
    </main>

<%- include ('partials/down'); %>


<%- include ('partials/down'); %>