<%- include ('partials/top'); %>
<header><%- include ('partials/navbar'); %></header>
<main>
    <div class="flex-container-main direction-column ">
        <div class="bg-color-amarelo flex-iten-main"> Amarelo
            <!-- <div class="flex-container direction-column">amarelo</div> -->
        </div>
        <div class="bg-color-indian flex-iten-main-meio"> Indian
            <!-- <div class="flex-container direction-column">indian</div> -->
        </div>
        <div class="bg-color-azul flex-iten-main"> Blue
            <!-- <div class="flex-container direction-column">azul</div> -->
        </div>
    </div>
</main>   

<%- include ('partials/footer'); %>


<%- include ('partials/down'); %>