<%- include ('partials/top'); %>
<main class="flex-container direction-column">

  
        
    <h1 class="text-center">AUTENTICAÇÃO DE USUÁRIO</h1>
  
    <div class="boxLogin">
        
    <form action="/login" method="POST" class="login"> 

        <div class="form-group">
            <label for="id-email" class="form-label">E-mail</label>
            <input class="form-control" type="text" id="id-email" name="email" required autofocus>
        </div>

        <div class="form-group margin-top-10px">
            <label for="id-senha" class="form-label">Senha</label>
            <input class="form-control" type="password" id="id-senha" name="senha" placeholder="Mantenha sua senha em segredo.">
        </div>

        <div class="form-group base-line margin-top-10px"> 
            <input class="button margin-left-30-por btn btn-primary" type="submit" value="Login">
            <a href="/usuario/new" class="margin-left-10-px atencao">Quero me cadastrar</a>
        </div>
        <div class="form-group text-center"> 
            <a href="/usuario/forgets" class="margin-top-10px reset">Recuperação de senha por e-mail</a>
            
        </div>
    </form>       
    </div>
    <%- include ('partials/message'); %>

</main>

<!-- <%- include ('partials/footer'); %> -->
<%- include ('partials/down'); %>