<%- include ('partials/top'); %>

    <main class="flex-container direction-column">
     
        <h1 class="text-center">Cadastro de Usuário</h1>  
            
        <form action="/recoveryPasswd" method="POST">

            <div class="form-group">
                <label for="id-email" class="form-label">e-mail</label>
                <input class="form-control" type="text" id="id-email" name="email" autofocus required>
            </div>


            <div class="form-group">
                <label for="id-nova-senha" class="form-label">Nova Senha</label>
                <input class="form-control" type="password" id="id-nova-senha" name="novaSenha" placeholder="Nova Sernha.">
            </div>
    

            <div class="form-group">
                <label for="id-confirma-senha" class="form-label">Confirmar Nova Senha</label>
                <input class="form-control" type="password" id="id-confirma-senha" name="confirmaSenha" placeholder="Confirmar Nova Senha.">
            </div>

            <div class="flex-container base-line margin-top-10px"> 
                <input class="button margin-left-30-por btn btn-primary" type="submit" value="Recuperar senha">
            </div>
    
        </form>       

       </main>

    <%- include ('partials/footer'); %>
    <%- include ('partials/down'); %>