span.bg-color-button-busca-ncm{
    background-color: #f0c37c;
}

span.bg-color-ncm{
    background-color: #f0b07c;
}

.bg-color-azul{
    background-color: blue;
}
.bg-color-amarelo{
    background-color: rgb(226, 211, 144);
}
.bg-color-indian{
    background-color: indianred;
}
