.color-error {
    color:crimson;
}

.color-atencao {
    color:#dc143c;
}


.color-delit {
    color: #222;
}

.color-edit {
    color: #222;
}

.color-blue {
    color: blue;
}

.color-green {
    color: green;
}

.color-caracteristica{
    color: indianred;
}

.color-forgets{
    color: lightcoral;
}

.color-bg-popos {
    color: #574F4A;
}

.color-yellow-popos {
    color: #f0c37c;
}

.color-blue-popos {
    color: #6ACAD8;
}