
body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 'header header'
                         'main main'
                         'footer footer';
    font-size: 1rem;
    font-family: oswald;  

    /* background-image: url(/imagens/yggm3mpw.bmp);
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta a imagem */
    /*background-position: center center; /* foca o centro da imagem */      
}

header {
    margin: 0 auto;
    width: 100%;    
    min-height: 100px;
    max-height: 100px;
    grid-area: header;
    display: flex;
    background: rgba(0, 0, 0, 0.5);   
}


main{
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-height: calc(100vh - 200px);
    grid-area: main;
}

footer {
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    grid-area: footer;
    background: rgba(0, 0, 0, 0.1);
}

/* article { 
    width: 100%;
    max-height: calc(100vh - 200px);
    grid-area: article;
    display: flex;
    flex-direction: column;
    align-self: center;
} 

aside {
    width: 100%;
    max-height: calc(100vh - 200px);
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-self: center;
} */


form {
    margin: 0% auto;
    width: 80%;
    background-color: none;
}


form.sale {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

table {
    background-color: rgb(208, 211, 190);
}


a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: indianred;
    display: block;
    width: 100%;
}

h2 {
text-align: center;
}

h3 {
    text-align: center;
    font-size: 24px;
}
 h3 a {
    font-size: 24px;
    text-decoration: none;
}

.height-25px {
    height: 25px;
}

/* tem */
.flex-container {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.direction-row {
    flex-direction: row;
}
/*   */




.base-line {
    align-items: baseline;
}

.message {
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.margin-left-30-por {
    margin-left: 30%;
}

.margin-left-50-por {
    margin-left: 50%;
}

.margin-top-10px {
    margin-top: 10px;
}

.margin-left-10-px {
    margin-left: 10px;
}

.margin-left-right-5por{
    margin-left: 5%;
    margin-right: 5%;
}

.margin-40-por {
    margin-left: 40%;
}

.border {
    border: cornflowerblue solid 1px;
}

.width-40-por {
    width: 40%;
}

a.remove {
    color: lightcoral
}


a.atencao {
        color:#dc143c;
    }


a.reset {
    color: #6ACAD8;
}


.user {
    color: white;
    position: fixed;
    right: 25px;
    top: 25px;
}

.boxLogo {
    max-width: 100px;
    max-height: 100px;
    align-self: flex-start;
}

.logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
}


/* Produtos */

.boxNewProduct {
    display: flex;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    border-color: rgb(202, 143, 95);
    background-color: white;
}

span {
    width: 25%;
    font-size: 0.8rem;
}

span:hover.bg-color-button-busca-ncm{
    color: white;
}

form.product {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    padding: 2%;
    max-height: calc(100vh - 200px);
    /* overflow-Y: scroll; */
    box-sizing: border-box;
}

/*  Fim produto */




/*  Vendas */

form.sale {
    display: flex;
    width: 100%;  
    justify-content: space-between;
    box-sizing: border-box;
}

.principal {
    width: 100%;
    display: flex;
    flex-direction: row;    
}

.esquerda {
    width: 100%;
    margin: 2%;
}

.linhaBloco {
    margin-bottom: 1%;
}

.direita {
    display: flex;
    width: 100%;
    margin: 1%;
}


.listaItem {
    display: flex;
    align-self: center;
    width: 90%;
    max-height: calc(100vh - 250px);
    overflow-Y: scroll; 
    border: solid 1px black;
    border-radius: 10px;
}

.fixa {
    position: sticky;
    top: 0;
    background-color: white;
}

/* Fim Vendas */

.clock {
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 2rem;
    color: white;
    
}