<%- include ('../partials/top'); %>


<header><%- include ('../partials/navbar'); %></header>



    <main class="">

        <form class="sale" action="">

            <div class="principal">

                <div class="esquerda ">
                    
                    <div class="linhaBloco">Natureza da Operação: 1 - Saída <input type="hidden" value="1" name="naturezaOperacao" id="natOp"> </div>
                    <div class="linhaBloco">CSOSN: 103 - Isenção do ICMS no Simples Nacional para faixa de receita bruta"
                            <input type="hidden" value="103" name="csons" id="codigoCsosn"> 
                    </div>
                </div>

                <div class="direita">

                    <div class="listaItem">
                        <table class="table table-hover table-bordered">
                            <thead class="fixa">
                                <th>#</th>
                                <th>Descricao</th>
                                <th>Quantidade</th>
                                <th>UN R$:</th>
                                <th>Total R$:</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>
                                
                                <tr>
                                    <td>1</td>
                                    <td>mercadoria</td>
                                    <td>10</td>
                                    <td>14.90</td>
                                    <td>149.90</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>



        </form>      
              
    </main>




    <%- include ('../partials/footer'); %>

    <%- include ('../partials/down'); %>