<%- include ('../partials/top'); %>

    <main class="flex-container direction-column">

         
        <h1 class="text-center">Recuperação de Senha</h1>
      
            
        <form action="/user/sendMail" method="POST">
    
            <div class="form-group margin-top-10px">
                <label for="id-email"  class="form-label">e-mail</label>
                <input class="form-control" type="text" id="id-email" name="email" placeholder="Informe seu e-mail" required>
            </div>
    
            <div class="base-line margin-top-10px"> 
                <input class="button btn btn-primary" type="submit" value="Recuperar Senha">
            </div>
    
        </form>       

    </main>

    
    <%- include ('../partials/footer'); %>

    <%- include ('../partials/down'); %>