<%- include ('../partials/top'); %>

    <main class="flex-container direction-column">

         
        <h1 class="text-center">CADASTRO DE USUÁRIO - NOVO</h1>
        
        <div class="boxLogin">
            
        <form action="/usuario/save" method="POST">
    
            <div class="form-group">
                <label for="id-nome" class="form-label">Nome</label>
                <input class="form-control" type="text" id="id-nome" name="nome" required autofocus>
            </div>

            <div class="form-group margin-top-10px">
                <label for="id-email" class="form-label">e-mail</label>
                <input class="form-control" type="text" id="id-email" name="email" required>
            </div>
    
            <div class="form-group margin-top-10px">
                <label for="id-senha" class="form-label">Senha</label>
                <input class="form-control" type="password" id="id-senha" name="senha" placeholder="Mantenha sua senha em segredo.">
            </div>

            <div class="form-group margin-top-10px">
                <label for="id-confirma-senha" class="form-label">Confirma Senha</label>
                <input class="form-control" type="password" id="id-confirma-senmha" name="confirmaSenha" placeholder="Confirme a Senha.">
            </div>            
    
            <div class="form-group base-line margin-top-10px"> 
                <input class="button btn btn-primary margin-left-30-por" type="submit" value="Salvar">
                <input class="button btn btn-info margin-left-10-px" type="reset" value="Limpar">
                
            </div>
    
        </form>       
        </div>
    </main>

    <%- include ('../partials/footer'); %>

    <%- include ('../partials/down'); %>